<div class="container">


<div
  class="banner"
  style="background-image: url('<%= cl_image_path @category.photo.key, height: 500, crop: :fill %>');  background-size: cover; background-position: center;">
<div class="banner-text">
<h2><%= @category.name %></h2>
</div>
</div>
<div class="container">
  <div class="info-top">
    <h3>Recipes</h3>
    <%= link_to 'Add a recipe', new_category_bookmarks_path(@category), class: "btn btn-warning" %>
  </div>


<div class="cards">
  <% @category.bookmarks.each do |bookmark| %>
   <div class="card-recipe">

    <%= link_to bookmark_path(bookmark),
       data: { turbo_method: :delete,
               turbo_confirm: "are you sure?" }, class: "btn-delete" do %>
     <i class="fa-solid fa-trash"></i>

     <% end %>
    <img src="<%= bookmark.recipe.image_url%>" alt="recipe image">
    <div class="card-recipe-description">
      <h2><%= bookmark.recipe.name %></h2>
      <p><%= bookmark.recipe.description.truncate(200) %></p>
    </div>
    <div class="card-recipe-info">
      <div>
        <%= bookmark.comment %>
      </div>
      <div>
        <%= bookmark.recipe.rating %> <%= 'â­' * bookmark.recipe.rating%>
      </div>
    </div>
   </div>
   <% end %>
</div>
</div>
</div>
